Source: hirs-provisioner
Section: admin
Priority: optional
Maintainer: HIRS <HIRS@HIRS.HIRS>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: hirs-provisioner
Architecture: amd64
Depends: tpm-module, openjdk-8-jre, wget
Description: HIRS Provisioner for Ubuntu
 Host Integrity at Runtime and Startup. Allows provisioning of TPM
 for Ubuntu 16.04 Linux clients.