# compiled python for systems tests
*.pyc
*.pydevproject

# vi swap files
*.swp

# system test logs
.ci/system-tests/test_logs

# NetBeans specific #
private/
build/
dist/
.nb-gradle-properties

# Eclipse specific #
.classpath
.project
.settings/
.checkstyle

# IDEA specific #
*.iml
.idea
cmake-build-debug/

# Gradle specific #
.gradle

# Class Files #
*.class
classes/

# Package Files #
*.war
*.ear
*.rpm
*.deb

# Specific RPMs used for testing
!HIRS_Utils/src/test/resources/repository/vim-common-7.2.411-1.8.el6.x86_64.rpm
!HIRS_Utils/src/test/resources/repository/kernel-2.6.32-642.6.1.el6.x86_64.rpm
!HIRS_Utils/src/test/resources/testrepo/*
!Systems_Tests/resources/**

# DEB Sources #
DEB_SOURCES/

# RPM Files #
BUILD/
BUILDROOT/
SOURCES/
SPECS/
RPM/
SRPM/
PLUGIN_SOURCE/
*.tar.gz

# C++ Files #
*.o

# Vagrant Files #
.vagrant/
.vagrantfile.swp
vagrant/tmp/

# tpm_module #
tpm_module/tpm_module
main.o
main.d

# Misc Files #
*~
bin/
!package/extras/*/bin
*/test-output/

# MAC OSX Finder Files #
.DS_Store

# Log Files #
*.log

/.nb-gradle/


# rejected diff applications
*.rej

# cmake artifacts from manual build
cmake_install.cmake
HIRS_ProvisionerTPM2/*.cmake
HIRS_ProvisionerTPM2/HIRS_ProvisionerTPM2.cbp
HIRS_ProvisionerTPM2/CMakeCache.txt
Makefile
CMakeFiles/
HIRS_ProvisionerTPM2/DartConfiguration.tcl
HIRS_ProvisionerTPM2/include/Tss.h
HIRS_ProvisionerTPM2/include/Version.h
HIRS_ProvisionerTPM2/lib/cpplint-download/
HIRS_ProvisionerTPM2/lib/cpplint/
HIRS_ProvisionerTPM2/lib/cpr-build/
HIRS_ProvisionerTPM2/lib/cpr-download/
HIRS_ProvisionerTPM2/lib/cpr-src/
HIRS_ProvisionerTPM2/lib/googletest-build/
HIRS_ProvisionerTPM2/lib/googletest-download/
HIRS_ProvisionerTPM2/lib/googletest-src/
HIRS_ProvisionerTPM2/lib/*.a
HIRS_ProvisionerTPM2/lib/*.so
HIRS_ProvisionerTPM2/install_manifest.txt
HIRS_ProvisionerTPM2/src/libTPM2_PROVISIONER_LIBRARY.a
HIRS_ProvisionerTPM2/test/CTestTestfile.cmake

# C++ Doxygen Documentation
HIRS_ProvisionerTPM2/docs/html/
HIRS_ProvisionerTPM2/docs/latex/
HIRS_ProvisionerTPM2/CMakeDoxyfile.in

# C++ Style Checker
HIRS_ProvisionerTPM2/lint

/*/out

HIRS_ProvisionerTPM2/cmake-build-debug

# autogenerated protobuf files
*.pb.cc
*.pb.h
HIRS_AttestationCA/src/main/java/hirs/attestationca/configuration/provisionerTpm2/ProvisionerTpm2.java

# autogenerated jaxb files
HIRS_Utils/src/main/java/hirs/utils/xjc/

# these files are copied over by ProvisionerTPM2 CMake build
HIRS_ProvisionerTPM2/config/logging.properties
HIRS_ProvisionerTPM2/scripts/tpm_aca_provision

# tcg_rim_tool files
tools/tcg_rim_tool/generated_swidTag.swidtag

### c# build files, visual studio files
*.user
*.cache
HIRS_Provisioner.NET/.vs
HIRS_Provisioner.NET/hirs/bin
HIRS_Provisioner.NET/hirs/generated
HIRS_Provisioner.NET/hirs/obj
HIRS_Provisioner.NET/hirsTest/bin
HIRS_Provisioner.NET/hirsTest/obj
