<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/certificate_details.css}" />
    <section layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function () {

                const initialDataNotNull = /*[[${initialDataNotNull}]]*/ '';

                if(initialDataNotNull) {

                    const certificateSerialNumber =  /*[[${initialData.get('serialNumber')}]]*/ '';
                    console.log("certificateSerialNumber: " + certificateSerialNumber);

                }
            });
        </script>
    </section>
</head>

<body>
    <h1 layout:fragment="pageHeaderTitle">

    </h1>

    <section layout:fragment="content">
        Test
    </section> <!-- Close section layout -->
</body>
</html>
