<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <section layout:fragment="script">
        <script th:inline="javascript">
            const passIcon = /*[[@{/icons/svg/check-circle-green-fill-24dp.svg}]]*/ '';
            const failIcon = /*[[@{/icons/svg/exclamation-red-circle-fill-24dp.svg}]]*/ '';
            const errorIcon = /*[[@{/icons/svg/exclamation-triangle-fill-warning-24dp.svg}]]*/ '';
            const unknownIcon = /*[[@{/icons/svg/question-circle-red-fill-24dp.svg}]]*/ '';

            const passText = "Validation Passed";
            const failText = "Validation Failed";
            const errorText = "Validation Error";
            const unknownText = "Unknown Validation Status";

            $(document).ready(function () {
                const viewName = /*[[${ page.viewName }]]*/ '';
                const url = viewName + "/list";
                let columns = [
                    {
                        data: null,
                        orderable: false,
                        searchable: false,
                        render: DataTable.render.select()
                    },
                    {
                        data: "device.supplyChainValidationStatus",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            let html = "";
                            switch (data) {
                                case "PASS":
                                    html = `<img src="${passIcon}" title=${passText}>`;
                                    break;
                                case "FAIL":
                                    html = `<img src="${failIcon}" title=${failText}/>`;
                                    break;
                                case "ERROR":
                                    html = `<img src="${errorIcon}" title=${errorText}>`;
                                    break;
                                default:
                                    html = `<img src="${unknownIcon}" title=${unknownText}>`;
                                    break;
                            }
                            return html;
                        },
                    },
                    {
                        name: "device.name",
                        data: "device.name",
                        searchable: true,
                        orderable: true,
                        columnControl: ["searchDropdown"]
                    },
                    {
                        data: "device.id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            //Display issued attestation certificate
                            if (full.IssuedAttestationCertificateIds === undefined) return "";
                            let size = full.IssuedAttestationCertificateIds.length;
                            let html = "";

                            for (let i = 0; i < size; i++) {
                                let id = full.IssuedAttestationCertificateIds[i];
                                html += generateCertificateDetailsLink("issued", id, false);
                            }

                            return html;
                        },
                    },
                    {
                        data: "device.id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            //Display platform credential
                            if (full.PlatformCredentialIds === undefined) return "";
                            let size = full.PlatformCredentialIds.length;
                            let html = "";

                            for (let i = 0; i < size; i++) {
                                let id = full.PlatformCredentialIds[i];
                                html +=
                                    generateCertificateDetailsLink("platform", id, false) + "&nbsp;";
                            }

                            return html;
                        },
                    },
                    {
                        data: "device.id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            //Display endorsement credential
                            if (full.EndorsementCredentialIds === undefined) return "";
                            let size = full.EndorsementCredentialIds.length;
                            let html = "";

                            for (let i = 0; i < size; i++) {
                                let id = full.EndorsementCredentialIds[i];
                                html +=
                                    generateCertificateDetailsLink("endorsement", id, false) + "&nbsp;";
                            }

                            return html;
                        },
                    },
                ];

                let table = setDataTables(viewName, "#deviceTable", url, columns);
            });
        </script>
    </section>
</head>

<body>
    <h1 layout:fragment="pageHeaderTitle">Device Listing</h1>

    <div layout:fragment="content">
        <div class="aca-data-table">
            <table id="deviceTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">Validation Status</th>
                        <th rowspan="2">Hostname</th>
                        <th colspan="3" class="text-center">Credentials</th>
                    </tr>
                    <tr>
                        <th>Issued Attestation</th>
                        <th>Platform</th>
                        <th>Endorsement</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>

</html>