<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <section layout:fragment="script">
        <script th:inline="javascript">
            const passIcon = /*[[@{/icons/svg/check-circle-green-fill-24dp.svg}]]*/ '';
            const failIcon = /*[[@{/icons/svg/exclamation-red-circle-fill-24dp.svg}]]*/ '';
            const errorIcon = /*[[@{/icons/svg/exclamation-red-circle-fill-24dp.svg}]]*/ '';
            const unknownIcon = /*[[@{/icons/svg/question-circle-red-fill-24dp.svg}]]*/ '';

            const passText = "Validation Passed";
            const failText = "Validation Failed";
            const errorText = "Validation Error";
            const unknownText = "Unknown Validation Status";

            $(document).ready(function () {
                const viewName = /*[[${ page.viewName }]]*/ '';
                const url = viewName + "/list";
                let columns = [
                    {
                        data: null,
                        orderable: false,
                        searchable: false,
                        render: DataTable.render.select()
                    },
                    {
                        data: "device.supplyChainValidationStatus",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            switch (data) {
                                case "PASS":
                                    return `<img src="${passIcon}" title="${passText}" data-bs-toggle="tooltip" data-bs-title="${passText}"/>`;
                                case "FAIL":
                                    return `<img src="${failIcon}" title="${failText}" data-bs-toggle="tooltip" data-bs-title="${failText}"/>`;
                                case "ERROR":
                                    return `<img src="${errorIcon}" title="${errorText}" data-bs-toggle="tooltip" data-bs-title="${errorText}"/>`;
                                default:
                                    return `<img src="${unknownIcon}" title="${unknownText}" data-bs-toggle="tooltip" data-bs-title="${unknownText}"/>`;
                            }
                        },
                    },
                    {
                        name: "device.name",
                        data: "device.name",
                        searchable: true,
                        orderable: true,
                        columnControl: ["searchDropdown"]
                    },
                    {
                        data: "device.id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            //Display issued certificate
                            if (full.IssuedCertificateIds === undefined) return "";
                            let size = full.IssuedCertificateIds.length;
                            let html = "";

                            for (let i = 0; i < size; i++) {
                                let id = full.IssuedCertificateIds[i];
                                html += generateCertificateDetailsLink("issued", id, false);
                            }

                            return html;
                        },
                    },
                    {
                        data: "device.id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            //Display platform certificate
                            if (full.PlatformCertificateIds === undefined) return "";
                            let size = full.PlatformCertificateIds.length;
                            let html = "";

                            for (let i = 0; i < size; i++) {
                                let id = full.PlatformCertificateIds[i];
                                html +=
                                    generateCertificateDetailsLink("platform", id, false) + "&nbsp;";
                            }

                            return html;
                        },
                    },
                    {
                        data: "device.id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            //Display endorsement certificate
                            if (full.EndorsementCertificateIds === undefined) return "";
                            let size = full.EndorsementCertificateIds.length;
                            let html = "";

                            for (let i = 0; i < size; i++) {
                                let id = full.EndorsementCertificateIds[i];
                                html +=
                                    generateCertificateDetailsLink("endorsement", id, false) + "&nbsp;";
                            }

                            return html;
                        },
                    },
                ];

                let table = setDataTables(viewName, "#deviceTable", url, columns);
            });
        </script>
    </section>
</head>

<body>
    <h1 layout:fragment="pageHeaderTitle">Device Listing</h1>

    <div layout:fragment="content">
        <div class="aca-data-table">
            <table class="table table-bordered table-striped table-hover" id="deviceTable">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">Validation Status</th>
                        <th rowspan="2">Hostname</th>
                        <th class="text-center" colspan="3">Certificates</th>
                    </tr>
                    <tr>
                        <th>Issued</th>
                        <th>Platform</th>
                        <th>Endorsement</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>

</html>