<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <section layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function () {
                const viewName = /*[[${ page.viewName }]]*/ '';
                const url = viewName + "/list";
                let columns = [
                    {
                        name: "deviceName",
                        data: "deviceName",
                        searchable: true,
                        orderable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "issuer",
                        data: "issuer",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "credentialType",
                        data: "credentialType",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "manufacturer",
                        data: "manufacturer",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "model",
                        data: "model",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "version",
                        data: "version",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "beginValidity",
                        data: "beginValidity",
                        type: "date",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                        render: function (data, type, full, meta) {
                            return formatCertificateDate(data);
                        },
                    },
                    {
                        name: "endValidity",
                        data: "endValidity",
                        type: "date",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                        render: function (data, type, full, meta) {
                            return formatCertificateDate(data);
                        },
                    },
                    {
                        data: "id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            let html = "";
                            html += certificateDetailsLink("endorsement", data, true);
                            html += certificateDownloadLink(viewName, data);
                            html += certificateDeleteLink(viewName, data);
                            return html;
                        },
                    },
                ];

                let table = setDataTables("#endorsementKeyTable", url, columns);
            });
        </script>
    </section>
</head>

<body>

    <h1 layout:fragment="pageHeaderTitle">Endorsement Key Credentials</h1>

    <div layout:fragment="content">
        <!-- text and icon resource variables -->
        <div class="aca-input-box-header">
            <form enctype="multipart/form-data" method="POST"
                th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/endorsement-key-credentials/upload}">
                Import Endorsement Key Credentials
                <th:block th:replace="fragments/file-chooser
                :: fileChooser('ek-editor',
                'Import Endorsement Key Credentials', ~{this :: bodyContent})">
                    <th:block th:fragment="bodyContent">
                        <input id="importFile" multiple="multiple" name="file" type="file" />
                    </th:block>
                </th:block>
                <a
                    th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/endorsement-key-credentials/bulk-download}">
                    <img th:src="@{/icons/ic_file_download_black_24dp.png}"
                        title="Download All Endorsement Certificates">
                </a>
            </form>
        </div>

        <br />

        <div class="aca-data-table">
            <table id="endorsementKeyTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Device</th>
                        <th>Issuer</th>
                        <th>Type</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Version</th>
                        <th>Valid (begin)</th>
                        <th>Valid (end)</th>
                        <th>Options</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</body>

</html>