<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <section layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function () {
                const viewName = /*[[${ page.viewName }]]*/ '';
                const url = viewName + "/list";
                const certificateType = "endorsement";

                // When the "deleteCertificateConfirmationModal" modal is about to be shown:
                // - Retrieve the ID from the button that triggered the modal (via data-id attribute)
                // - Set the value of the hidden input field with ID 'ekToDeleteId' to the retrieved endorsement key certificate ID
                $('#deleteCertificateConfirmationModal').on('show.bs.modal', function (event) {
                    const deleteCertLinkButton = $(event.relatedTarget);  // Link that triggered the modal
                    const endorsementKeyCertificateId = deleteCertLinkButton.data('id');  // Extract the endorsement certificate ID from the data-id attribute

                    // Set the value of the hidden input to the ID
                    $(this).find('#ekToDeleteId').val(endorsementKeyCertificateId);
                });

                // Setup Endorsement Key Credentials table columns
                let columns = [
                    {
                        data: null,
                        orderable: false,
                        searchable: false,
                        render: DataTable.render.select()
                    },
                    {
                        name: "deviceName",
                        data: "deviceName",
                        searchable: true,
                        orderable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "issuer",
                        data: "issuer",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "credentialType",
                        data: "credentialType",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "manufacturer",
                        data: "manufacturer",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "model",
                        data: "model",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "version",
                        data: "version",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "beginValidity",
                        data: "beginValidity",
                        type: "date",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                        render: function (data, type, full, meta) {
                            return formatCertificateDate(data);
                        },
                    },
                    {
                        name: "endValidity",
                        data: "endValidity",
                        type: "date",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                        render: function (data, type, full, meta) {
                            return formatCertificateDate(data);
                        },
                    },
                    {
                        data: "id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            let html = "";
                            html += generateCertificateDetailsLink(certificateType, data, true);
                            html += generateCertificateDownloadLink(viewName, data);
                            html += generateCertificateDeleteLink(data);
                            return html;
                        },
                    },
                ];

                let table = setDataTables(viewName, "#endorsementKeyTable", url, columns);
            });
        </script>
    </section>
</head>

<body>

    <h1 layout:fragment="pageHeaderTitle">Endorsement Key Credentials</h1>

    <div layout:fragment="content">
        <!-- text and icon resource variables -->
        <div class="aca-input-box-header">
            <form enctype="multipart/form-data" method="POST"
                th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/endorsement-key-credentials/upload}">
                Import Endorsement Key Credentials
                <th:block
                    th:replace="fragments/file-chooser :: fileChooser(id='ek-editor', label='Import Endorsement Key Credentials',bodyContent= ~{this :: bodyContent})">
                    <th:block th:fragment="bodyContent">
                        <input id="importFile" multiple="multiple" name="file" type="file" />
                    </th:block>
                </th:block>
                <a
                    th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/endorsement-key-credentials/bulk-download}">
                    <img th:src="@{/icons/ic_file_download_black_24dp.png}" class="action-icons"
                        title="Download All Endorsement Certificates" alt="Download Icon">
                </a>
            </form>
        </div>

        <br />

        <div class="aca-data-table">
            <table id="endorsementKeyTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Device</th>
                        <th>Issuer</th>
                        <th>Type</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Version</th>
                        <th>Valid (begin)</th>
                        <th>Valid (end)</th>
                        <th>Options</th>
                    </tr>
                </thead>
            </table>
        </div>

        <!-- This modal will be triggered when the user hits the delete link on one of the table rows on the Endorsement Key Credentials page -->
        <form method="POST"
            th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/endorsement-key-credentials/delete}">
            <div
                th:replace="fragments/modal :: modal(id='deleteCertificateConfirmationModal', label='Confirm Deletion Of Endorsement Key Credential', 
                bodyContent=~{this::#deleteEKConfirmationBody}, customFooterButtons=~{this::#deleteConfirmationFooterButtons})">

                <!-- Modal Body Content -->
                <div id="deleteEKConfirmationBody">
                    <p class="text-center text-danger fs-4"><strong>Are you sure you want to delete this Endorsement Key
                            Credential?</strong></p>
                </div>

                <!-- Define custom footer buttons here -->
                <div id="deleteConfirmationFooterButtons">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <!-- The endorsement key credential ID is stored in this hidden field -->
                    <input type="hidden" name="id" id="ekToDeleteId" value="">
                    <button type="submit" class="btn btn-danger">Delete EK Certificate</button>
                </div>
            </div>
        </form>

        <!-- This modal will be triggered when the user hits the Delete Selected button on the Endorsement Key Credentials page -->
        <form method="POST"
            th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/endorsement-key-credentials/bulk-delete}">
            <div
                th:replace="fragments/modal :: modal(id='deleteMultipleConfirmationModal', label='Confirm Deletion Of Multiple Endorsement Key Credentials', 
                bodyContent=~{this::#deleteMultipleEKConfirmationBody}, customFooterButtons=~{this::#deleteMultipleConfirmationFooterButtons})">

                <!-- Modal Body Content -->
                <div id="deleteMultipleEKConfirmationBody">
                    <p class="text-center text-danger fs-4">
                        <strong>Are you sure you want to delete <span id="numRecordsToDelete"></span> Endorsement Key
                            Credential(s)?</strong>
                    </p>
                </div>

                <!-- Define custom footer buttons here -->
                <div id="deleteMultipleConfirmationFooterButtons">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    <!-- The list of endorsement key credentials ids are stored in this hidden field -->
                    <input id="selectedRecordsToDeleteIds" name="ids" type="hidden" value="">
                    <button class="btn btn-danger" type="submit">Delete EK Certificate(s)</button>
                </div>
            </div>
        </form>
    </div>

</body>

</html>