<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error - 404</title>
</head>
<body>

<!--&lt;!&ndash; Use the layout fragment and pass in the page header title &ndash;&gt;-->
<!--<div th:replace="fragments/page-layout :: layout('Error - 404')">-->

<!--    &lt;!&ndash; This body content will be inserted into the layout fragment &ndash;&gt;-->
<!--    &lt;!&ndash;<div th:text="${exception}"></div>-->
<!--    <div>from URL -> <span th:text="${url}"></span></div>&ndash;&gt;-->

<!--</div>-->

</body>
</html>
