<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <section layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        const levels = ["ERROR", "WARN", "INFO", "DEBUG"];
        const mainLoggerName = "hirs.attestationca";
        const mainLoggerPath = "var/log/hirs/HIRS_AttestationCA_Portal.log";
        // Mapping log levels to button colors
        const logLevelColors = {
          ERROR: "btn-danger", // Red for ERROR
          WARN: "btn-warning", // Yellow for WARN
          INFO: "btn-info", // Light Blue for INFO
          DEBUG: "btn-primary", // Blue for DEBUG
        };

        let url = "/HIRS_AttestationCAPortal/portal/help/list-main-logger";

        let columns = [
          {
            name: "loggerName",
            data: "loggerName",
            render: function (data, type, row) {
              // if the row's logger name is the same as the main logger name
              if (row.loggerName.toLowerCase() === mainLoggerName.toLowerCase()) {
                // display the main logger's path
                return mainLoggerPath;
              }
              // otherwise just return the row's logger name as is
              return row.loggerName;
            },
          },
          {
            name: "logLevel",
            data: "logLevel",
          },
          {
            name: "changeLogLevel",
            data: null,
            render: function (data, type, row) {
              // Start the btn-group div to wrap all the buttons
              let buttonsHtml = '<div class="btn-group" role="group">';

              // Loop through the log levels and generate buttons
              levels.forEach(function (logLevel) {
                let logLevelColor = logLevelColors[logLevel] || "btn-secondary"; // Default to gray if color not found

                // Append button HTML for the current log level
                buttonsHtml +=
                  '<button type="button" class="btn ' +
                  logLevelColor +
                  ' btn-sm" onclick="handleLogLevelChange(\'' +
                  row.loggerName +
                  "', '" +
                  logLevel +
                  "')\">" +
                  logLevel +
                  "</button>";
              });

              // Close the btn-group div
              buttonsHtml += "</div>";

              return buttonsHtml;
            }
          },
        ];

        //Set data tables
        let dataTable = setDataTables("#loggersTable", url, columns, {
          colReorder: false,
          select: false,
          searching: false,
          ordering: false,
          paging: false,
          info: false,
          layout: {
            topStart: {
              buttons: []  // No buttons will be shown
            }
          }
        });
      });
    </script>
  </section>
</head>

<body>

  <h1 layout:fragment="pageHeaderTitle">Help </h1>

  <div class="content" layout:fragment="content">
    <div>
      <h2>Documentation</h2>
      <p>
        For more documentation on the project, you may visit the wiki section of
        our
        <a th:href="@{https://github.com/nsacyber/HIRS/wiki}"> code repository. </a>
      </p>
    </div>
    <hr />

    <div class="aca-data-table">
      <h2>Main HIRS Logger Management</h2>
      <div class="download-header">
        <h3>Download All HIRS Attestation Log Files</h3>
        <a th:href="@{/HIRS_AttestationCAPortal/portal/help/hirs-logs-download}">
          <img th:src="@{/icons/ic_file_download_black_24dp.png}" alt="Download HIRS Log" />
        </a>
      </div>
      <table id="loggersTable" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Logger Name</th>
            <th>Current Log Level</th>
            <th>Change Log Level</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</body>

</html>