<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'Welcome to the HIRS Attestation CA'">Welcome to the HIRS Attestation CA</title>
</head>

<body>
    <h1 layout:fragment="pageHeaderTitle"> Home Page </h1>

    <section layout:fragment="content">
        <div class="container-fluid" id="index-page">
            <div class="row">
                <div class="col-md-6 index-left-side">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Configuration</h1>
                        </div>
                    </div>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/policy}">
                            <img alt="" th:src="@{/icons/ic_store_black_24dp.png}" /> Policy
                        </a>
                    </h3>
                    <h4>Configure Identity CA and Supply Chain Validation policies.</h4>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain}">
                            <img alt="" th:src="@{/icons/ic_subtitles_black_24dp.png}" /> Trust Chain
                            Management
                        </a>
                    </h3>
                    <h4>
                        Upload, view and manage CA certificates that complete Trust Chains
                        for hardware credentials.
                    </h4>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/platform-certificates}">
                            <img th:src="@{/icons/ic_important_devices_black_24dp.png}" />
                            Platform Certificates
                        </a>
                    </h3>
                    <h4>Upload, view and manage Platform Certificates.</h4>
                    <h3>
                        <a
                            th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/endorsement-key-certificates}">
                            <img alt="" th:src="@{/icons/svg/key-fill-24dp.svg}" /> Endorsement
                            Certificates
                        </a>
                    </h3>
                    <h4>Upload, view and manage Endorsement Certificates.</h4>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/idevid-certificates}">
                            <img alt="" th:src="@{/icons/ic_important_devices_black_24dp.png}" /> IDevID
                            Certificates
                        </a>
                    </h3>
                    <h4>Upload, view and manage IDevID Certificates.</h4>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/reference-manifests}">
                            <img alt="" th:src="@{/icons/ic_important_devices_black_24dp.png}" />
                            Reference Integrity Manifests
                        </a>
                    </h3>
                    <h4>Upload, view and manage Reference Integrity Manifests (RIMs).</h4>
                </div>

                <div class="col-md-6 index-right-side">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Status</h1>
                        </div>
                    </div>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/issued-certificates}">
                            <img alt="" th:src="@{/icons/ic_library_books_black_24dp.png}" /> Issued
                            Certificates
                        </a>
                    </h3>
                    <h4>View Certificates issued by this CA</h4>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/validation-reports}"><img alt=""
                                th:src="@{/icons/ic_assignment_black_24dp.png}" />
                            Validation
                            Reports</a>
                    </h3>
                    <h4>View a list of device validations carried out by this CA.</h4>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/devices}"><img
                                th:src="@{/icons/ic_devices_black_24dp.png}" /> Devices</a>
                    </h3>
                    <h4>View devices covered by this CA for supply chain validation.</h4>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/rim-database}"><img alt=""
                                th:src="@{/icons/ic_devices_black_24dp.png}" />
                            RIM Database</a>
                    </h3>
                    <h4>View a list of Reference Integrity Measurements</h4>
                    <h3>
                        <a th:href="@{/HIRS_AttestationCAPortal/portal/help}"><img alt=""
                                th:src="@{/icons/svg/question-circle-black-fill-24dp.svg}" />
                            Help</a>
                    </h3>
                    <h4>
                        Access the HIRS documentation in the code repository and manage/view the HIRS application
                        log levels.
                    </h4>
                </div>
            </div>
        </div>
    </section>
</body>

</html>