<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <section layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        const viewName = /*[[${ page.viewName }]]*/ '';
        const url = viewName + "/list";
        let columns = [
          {
            name: "deviceName",
            data: "deviceName",
            searchable: true,
            orderable: true,
            columnControl: ["searchDropdown"]
          },
          {
            name: "ldevID",
            data: "ldevID",
            searchable: false,
            orderable: false,
            render: function (data, type, full, meta) {
              if (data === true) {
                return "LDevID";
              }
              return "AK";
            },
          },
          {
            name: "issuer",
            data: "issuer",
            searchable: true,
            orderable: true,
            columnControl: ["searchDropdown"],
          },
          {
            name: "beginValidity",
            data: "beginValidity",
            type: "date",
            searchable: true,
            orderable: true,
            columnControl: ["searchDropdown"],
            render: function (data, type, full, meta) {
              return formatCertificateDate(data);
            },
          },
          {
            name: "endValidity",
            data: "endValidity",
            type: "date",
            searchable: true,
            orderable: true,
            columnControl: ["searchDropdown"],
            render: function (data, type, full, meta) {
              return formatCertificateDate(data);
            },
          },
          {
            data: "id",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              //Display endorsement credential
              let html = "";
              if (
                full.endorsementCredential !== undefined &&
                full.endorsementCredential !== null
              ) {
                let id = full.endorsementCredential.id;
                html +=
                  certificateDetailsLink("endorsement", id, false) + "&nbsp;";
              }
              return html;
            },
          },
          {
            data: "id",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              //Display platform credential
              let html = "";
              if (
                full.platformCredentials !== undefined &&
                full.platformCredentials !== null
              ) {
                let size = full.platformCredentials.length;

                for (let i = 0; i < size; i++) {
                  let id = full.platformCredentials[i].id;
                  html +=
                    certificateDetailsLink("platform", id, false) + "&nbsp;";
                }
              }
              return html;
            },
          },
          {
            data: "id",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              // set up link to details page
              let html = "";
              html += certificateDetailsLink("issued", data, true);
              html += certificateDownloadLink(viewName, data);
              html += certificateDeleteLink(viewName, data);
              return html;
            },
          },
        ];

        let table = setDataTables("#issuedTable", url, columns);

        // if the clear all button is clicked on...
        $('#clearSearchBtn').on('click', function () {
          //... clear the global search textbox and the column control search dropdowns
          table.search('').columns().columnControl.searchClear().draw();
        });
      });
    </script>
  </section>
</head>

<body>
  <h1 layout:fragment="pageHeaderTitle">Issued Certificates </h1>

  <div layout:fragment="content">
    <div class="aca-input-box-header">
      Issued Credentials
      <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/issued-certificates/bulk-download}">
        <img th:src="@{/icons/ic_file_download_black_24dp.png}" title="Download All Issued Certificates">
      </a>
    </div>
    <br />
    <div class="aca-data-table">
      <button id="clearSearchBtn" type="button" class="btn btn-secondary buttons-collection">Clear Search</button>
      <table id="issuedTable" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th rowspan="2">Hostname</th>
            <th rowspan="2">Type</th>
            <th rowspan="2">Issuer</th>
            <th rowspan="2">Valid (begin)</th>
            <th rowspan="2">Valid (end)</th>
            <th colspan="2">Credentials</th>
            <th rowspan="2">Options</th>
          </tr>
          <tr>
            <th>Endorsement</th>
            <th>Platform</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</body>

</html>