<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <section layout:fragment="script">
    <script th:src="@{/lib/jquery.spring-friendly/jquery.spring-friendly.js}"></script>
    <script th:inline="javascript">
      $(document).ready(function () {
        let url = "platform-credentials/list";
        let columns = [
          {
            name: "deviceName",
            data: "deviceName",
            orderable: true,
            searchable: true,
            render: function (data, type, full, meta) {
              // if there is a device, display its name, otherwise
              return full.deviceName;
            },
          },
          {
            name: "issuer",
            data: "issuer",
            orderable: true,
            searchable: true,
          },
          {
            name: "credentialType",
            data: "credentialType",
            render: function (data, type, full, meta) {
              if (full.platformChainType !== "") {
                return full.platformChainType;
              } else {
                return full.credentialType;
              }
            },
          },
          {
            name: "manufacturer",
            data: "manufacturer",
            orderable: true,
            searchable: true,
          },
          { name: "model", data: "model", orderable: true, searchable: true },
          { name: "version", data: "version", orderable: true, searchable: true },
          { name: "platformSerial", data: "platformSerial", orderable: true, searchable: true },
          {
            name: "beginValidity",
            data: "beginValidity",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              return formatCertificateDate(full.beginValidity);
            },
          },
          {
            name: "endValidity",
            data: "endValidity",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              return formatCertificateDate(full.endValidity);
            },
          },
          {
            data: "id",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              //Display endorsement credential
              if (full.endorsementCredential === null) return "";
              let html = "";

              let id = full.endorsementCredential.id;
              html =
                certificateDetailsLink("endorsement", id, false) + "&nbsp;";

              return html;
            },
          },
          {
            data: "id",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              // Set up a delete icon with link to handleDeleteRequest().
              // sets up a hidden input field containing the ID which is
              // used as a parameter to the REST POST call to delete
              let html = "";
              html += certificateDetailsLink("platform", full.id, true);
              html += certificateDownloadLink(full.id, "");
              html += certificateDeleteLink(full.id, "");

              return html;
            },
          },
        ];

        // Set data tables
        setDataTables("#platformTable", url, columns);
      });
    </script>
  </section>
</head>

<body>

  <h1 layout:fragment="pageHeaderTitle">Platform Certificates</h1>

  <div class="content" layout:fragment="content">
    <!-- text and icon resource variables -->
    <div class="aca-input-box-header">
      <form enctype="multipart/form-data" method="POST"
        th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/platform-credentials/upload}">
        Platform Credentials
        <th:block th:replace="fragments/file-chooser
                :: fileChooserIcon('platformCredentialEditor',
                'Import Platform Credentials', ${null}, ~{this :: bodyContent})">
          <th:block th:fragment="bodyContent">
            <input id="importFile" multiple="multiple" name="file" type="file" />
          </th:block>
        </th:block>
        <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/platform-credentials/bulk-download}">
          <img th:src="@{/icons/ic_file_download_black_24dp.png}" title="Download All Platform Certificates">
        </a>
      </form>
    </div>

    <br />

    <div class="aca-data-table">
      <table class="display" id="platformTable" style="width: 100%">
        <thead>
          <tr>
            <th>Device</th>
            <th>Issuer</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Version</th>
            <th>Board SN</th>
            <th>Valid (begin)</th>
            <th>Valid (end)</th>
            <th>Endorsement</th>
            <th>Options</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

</body>

</html>