<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <section layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        const viewName = /*[[${ page.viewName }]]*/ '';
        const url = viewName + "/list";

        // When the "deleteConfirmationModal" modal is about to be shown:
        // - Retrieve the ID from the button that triggered the modal (via data-id attribute)
        // - Set the value of the hidden input field with ID 'pcToDeleteId' to the retrieved platform credential ID
        $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
          const deleteLinkButton = $(event.relatedTarget);  // Link that triggered the modal
          const platformCredentialId = deleteLinkButton.data('id');  // Extract the platform credential ID from the data-id attribute

          // Set the value of the hidden input to the ID
          $(this).find('#pcToDeleteId').val(platformCredentialId);
        });

        // Setup Platform Credentials table columns
        let columns = [
          {
            name: "deviceName",
            data: "deviceName",
            orderable: true,
            searchable: true,
            columnControl: ["searchDropdown"]
          },
          {
            name: "issuer",
            data: "issuer",
            orderable: true,
            searchable: true,
            columnControl: ["searchDropdown"],
          },
          {
            name: "credentialType",
            data: "credentialType",
            orderable: true,
            searchable: false,
            render: function (data, type, full, meta) {
              if (full.platformChainType !== "") {
                return full.platformChainType;
              } else {
                return full.credentialType;
              }
            },
          },
          {
            name: "manufacturer",
            data: "manufacturer",
            orderable: true,
            searchable: true,
            columnControl: ["searchDropdown"],
          },
          {
            name: "model",
            data: "model",
            orderable: true,
            searchable: true,
            columnControl: ["searchDropdown"],
          },
          {
            name: "version",
            data: "version",
            orderable: true,
            searchable: true,
            columnControl: ["searchDropdown"],
          },
          {
            name: "platformSerial",
            data: "platformSerial",
            orderable: true,
            searchable: true,
            columnControl: ["searchDropdown"],
          },
          {
            name: "beginValidity",
            data: "beginValidity",
            type: "date",
            orderable: true,
            searchable: true,
            columnControl: ["searchDropdown"],
            render: function (data, type, full, meta) {
              return formatCertificateDate(data);
            },
          },
          {
            name: "endValidity",
            data: "endValidity",
            type: "date",
            orderable: true,
            searchable: true,
            columnControl: ["searchDropdown"],
            render: function (data, type, full, meta) {
              return formatCertificateDate(data);
            },
          },
          {
            data: "id",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              //Display endorsement credential
              if (full.endorsementCredential === null) return "";
              let html = "";

              let id = full.endorsementCredential.id;
              html =
                certificateDetailsLink("endorsement", id, false) + "&nbsp;";

              return html;
            },
          },
          {
            data: "id",
            orderable: false,
            searchable: false,
            render: function (data, type, full, meta) {
              let html = "";
              html += certificateDetailsLink("platform", data, true);
              html += certificateDownloadLink(viewName, data);
              html += certificateDeleteLink(viewName, data);

              return html;
            },
          },
        ];

        let table = setDataTables("#platformTable", url, columns);
      });
    </script>
  </section>
</head>

<body>

  <h1 layout:fragment="pageHeaderTitle">Platform Certificates</h1>

  <div layout:fragment="content">
    <!-- text and icon resource variables -->
    <div class="aca-input-box-header">
      <form method="POST"
        th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/platform-credentials/upload}"
        enctype="multipart/form-data">
        Platform Credentials
        <th:block th:replace="fragments/file-chooser
                :: fileChooser('platformCredentialEditor',
                'Import Platform Credentials', ~{this :: bodyContent})">
          <th:block th:fragment="bodyContent">
            <input id="importFile" type="file" name="file" multiple="multiple" />
          </th:block>
        </th:block>
        <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/platform-credentials/bulk-download}">
          <img th:src="@{/icons/ic_file_download_black_24dp.png}" title="Download All Platform Certificates">
        </a>
      </form>
    </div>

    <br />

    <div class="aca-data-table">
      <table id="platformTable" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Device</th>
            <th>Issuer</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Version</th>
            <th>Board SN</th>
            <th>Valid (begin)</th>
            <th>Valid (end)</th>
            <th>Endorsement</th>
            <th>Options</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>


  <!-- This modal will be triggered when the user hits the delete link on one of the table rows -->
  <form method="POST" th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/platform-credentials/delete}">
    <div
      th:replace="fragments/modal :: modal(id='deleteConfirmationModal', label='Confirm Deletion Of Platform Credential', 
                bodyContent=~{this::#deletePCConfirmationBody}, customFooterButtons=~{this::#deleteConfirmationFooterButtons})">

      <!-- Modal Body Content -->
      <div id="deletePCConfirmationBody">
        <p class="text-center text-danger fs-4"><strong>Are you sure you want to delete this Platform
            Credential?</strong></p>
      </div>

      <!-- Define custom footer buttons here -->
      <div id="deleteConfirmationFooterButtons">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <!-- The platform credential ID is stored in this hidden field -->
        <input type="hidden" name="id" id="pcToDeleteId" value="">
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </form>

</body>

</html>