<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title th:text="'Attestation Identity CA Policy Options'">Attestation Identity CA Policy Options</title>
</head>

<section layout:fragment="script">
    <script th:inline="javascript">
        function showModal(modalId, modalContentId) {
            const modalContentSelector = ".modal-body " + modalContentId;

            // show the selected modal
            $(modalId).modal('show')

            // display the invisible content on the modal by removing the css class that makes the elements invisible
            $(modalContentSelector).removeClass("modal-visibility-on-close");

        }

        function submitProtobufLogSetting() {
            // find the selected protobuf log setting
            let form = $('input[name="saveProtobufToLogOption"]:checked').closest('form');

            // Submit the form
            form.submit();

            // Log the selected value to the console (for debugging)
            console.log('Selected value: ' + $('input[name="saveProtobufToLogOption"]:checked').val());
        }

    </script>
</section>

<body>
    <h1 layout:fragment="pageHeaderTitle"> Attestation Identity CA Policy Options </h1>
    <section layout:fragment="content">
        <ul>
            <!-- Endorsement validation  -->
            <li>
                <div class="aca-input-box">
                    <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-ec-validation}"
                        th:object="${initialData}" method="POST">
                        Endorsement Credential Validation:
                        <span th:text="${initialData.ecValidationEnabled ? 'Enabled' : 'Disabled'}"></span>

                        <!-- Define the content of the modal -->
                        <div id="ecPolicyBody" th:fragment="ecPolicyBody" class="modal-visibility-on-close ">
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{ecValidationEnabled}" value="true" />
                                    Endorsement Credentials will be validated
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{ecValidationEnabled}" value="false" />
                                    Endorsement Credentials will not be validated
                                </label>
                            </div>
                        </div>

                        <!-- trigger to open the modal -->
                        <a th:href="'#' + ecPolicyEditor" onclick='showModal("#ecPolicyEditor", "#ecPolicyBody")'>
                            <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                        </a>

                        <!-- modal fragment -->
                        <div th:replace="fragments/modal :: modal( id='ecPolicyEditor', label='Edit Endorsement
                            Credential Validation Policy Settings', bodyContent=~{this::ecPolicyBody})">
                        </div>
                    </form>
                </div>
            </li>

            <!-- Platform validation -->
            <li>
                <div class="aca-input-box">
                    <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-pc-validation}"
                        th:object="${initialData}" method="POST">
                        Platform Credential Validation:
                        <span th:text="${initialData.pcValidationEnabled ? 'Enabled' : 'Disabled'}"></span>

                        <!-- Define the content of the modal -->
                        <div id="pcPolicyBody" th:fragment="pcPolicyBody" class="modal-visibility-on-close">
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{pcValidationEnabled}" value="true" />
                                    Platform Credentials will be validated
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{pcValidationEnabled}" value="false" />
                                    Platform Credentials will not be validated
                                </label>
                            </div>
                        </div>

                        <!-- trigger to open the modal -->
                        <a th:href="'#' + pcPolicyEditor" onclick='showModal("#pcPolicyEditor", "#pcPolicyBody")'>
                            <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                        </a>

                        <!-- modal fragment -->
                        <div
                            th:replace="fragments/modal :: modal( id='pcPolicyEditor',  label='Edit Platform Credential Validation Policy Settings', bodyContent=~{this::pcPolicyBody})">
                        </div>
                    </form>
                </div>
            </li>

            <!-- Platform attribute validation -->
            <li>
                <div class="aca-input-box">
                    <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-pc-attribute-validation}"
                        th:object="${initialData}" method="POST">
                        Platform Attribute Credential Validation:
                        <span th:text="${initialData.pcAttributeValidationEnabled ? 'Enabled' : 'Disabled'}"></span>

                        <!-- Define the content of the modal -->
                        <div id="pcAttrPolicyBody" th:fragment="pcAttrPolicyBody" class="modal-visibility-on-close">
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{pcAttributeValidationEnabled}" value="true" />
                                    Platform Credential Attributes will be validated
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{pcAttributeValidationEnabled}" value="false" />
                                    Platform Credential Attributes will not be validated
                                </label>
                            </div>
                        </div>

                        <!-- trigger to open the modal -->
                        <a th:href="'#' + pcAttrPolicyEditor"
                            onclick='showModal("#pcAttrPolicyEditor", "#pcAttrPolicyBody")'>
                            <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                        </a>

                        <!-- modal fragment -->
                        <div
                            th:replace="fragments/modal :: modal( id='pcAttrPolicyEditor',  label='Edit Platform Credential Attribute Validation Policy Settings', bodyContent=~{this::pcAttrPolicyBody})">
                        </div>
                    </form>

                    <ul>
                        <li>
                            <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-revision-ignore}"
                                th:object="${initialData}" method="POST">
                                Ignore Component Revision Attribute:
                                <span
                                    th:text="${initialData.ignoreRevisionAttributeEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="revisionIgnoredPolicyBody" th:fragment="revisionIgnoredPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreRevisionAttributeEnabled}"
                                                value="true" />
                                            Component Revision Attribute enabled
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreRevisionAttributeEnabled}"
                                                value="false" />
                                            Component Revision Attribute disabled
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + revisionIgnoredPolicyEditor"
                                    onclick='showModal("#revisionIgnoredPolicyEditor", "#revisionIgnoredPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='revisionIgnoredPolicyEditor',  label='Edit Ignore Component Revision Policy Settings', bodyContent=~{this::revisionIgnoredPolicyBody})">
                                </div>
                            </form>
                        </li>

                        <li>
                            <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-pcie-vpd-ignore}"
                                th:object="${initialData}" method="POST">
                                Ignore PCIE VPD Attribute:
                                <span
                                    th:text="${initialData.ignorePcieVpdAttributeEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="pcieVpdIgnoredPolicyBody" th:fragment="pcieVpdIgnoredPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignorePcieVpdAttributeEnabled}"
                                                value="true" />
                                            PCIE VPD Attribute enabled
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignorePcieVpdAttributeEnabled}"
                                                value="false" />
                                            PCIE VPD Attribute disabled
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + ignorePcieVpdPolicyEditor"
                                    onclick='showModal("#ignorePcieVpdPolicyEditor", "#pcieVpdIgnoredPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='ignorePcieVpdPolicyEditor',  label='Edit Ignore PCIE VPD Policy Settings', bodyContent=~{this::pcieVpdIgnoredPolicyBody})">
                                </div>
                            </form>

                        </li>
                    </ul>
                </div>
            </li>

            <!-- Firmware validation -->
            <li>
                <div class="aca-input-box">
                    <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-firmware-validation}"
                        th:object="${initialData}" method="POST">
                        Firmware Validation:
                        <span th:text="${initialData.firmwareValidationEnabled ? 'Enabled' : 'Disabled'}"></span>

                        <!-- Define the content of the modal -->
                        <div id="firmwarePolicyBody" th:fragment="firmwarePolicyBody" class="modal-visibility-on-close">
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{firmwareValidationEnabled}" value="true" />
                                    Firmware will be validated
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{firmwareValidationEnabled}" value="false" />
                                    Firmware will not be validated
                                </label>
                            </div>
                        </div>

                        <!-- trigger to open the modal -->
                        <a th:href="'#' + fwPolicyEditor" onclick='showModal("#fwPolicyEditor", "#firmwarePolicyBody")'>
                            <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                        </a>

                        <!-- modal fragment -->
                        <div
                            th:replace="fragments/modal :: modal( id='fwPolicyEditor',  label='Edit Firmware Validation Policy Settings', bodyContent=~{this::firmwarePolicyBody})">
                        </div>
                    </form>

                    <ul>
                        <li>
                            <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-ima-ignore}"
                                th:object="${initialData}" method="POST">
                                Ignore IMA PCR Entry:
                                <span th:text="${initialData.ignoreImaEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="imaIgnoredPolicyBody" th:fragment="imaIgnoredPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreImaEnabled}" value="true" />
                                            Ignore IMA enabled
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreImaEnabled}" value="false" />
                                            Ignore IMA disabled
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + ignoreImaPolicyEditor"
                                    onclick='showModal("#ignoreImaPolicyEditor", "#imaIgnoredPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='ignoreImaPolicyEditor',  label='Edit Ignore IMA Policy Settings', bodyContent=~{this::imaIgnoredPolicyBody})">
                                </div>
                            </form>
                        </li>

                        <li>
                            <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-tboot-ignore}"
                                th:object="${initialData}" method="POST">
                                Ignore TBOOT PCRs Entry:
                                <span th:text="${initialData.ignoreTbootEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="tbootIgnoredPolicyBody" th:fragment="tbootIgnoredPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreTbootEnabled}" value="true" />
                                            Ignore TBoot enabled
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreTbootEnabled}" value="false" />
                                            Ignore TBoot disabled
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + ignoreTbootPolicyEditor"
                                    onclick='showModal("#ignoreTbootPolicyEditor", "#tbootIgnoredPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='ignoreTbootPolicyEditor',  label='Edit Ignore Tboot Policy Settings', bodyContent=~{this::tbootIgnoredPolicyBody})">
                                </div>
                            </form>
                        </li>

                        <li>
                            <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-gpt-ignore}"
                                th:object="${initialData}" method="POST">
                                Ignore GPT PCRs Entry:
                                <span th:text="${initialData.ignoreGptEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="gptIgnoredPolicyBody" th:fragment="gptIgnoredPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreGptEnabled}" value="true" />
                                            Ignore GPT enabled
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreGptEnabled}" value="false" />
                                            Ignore GPT disabled
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + ignoreGptPolicyEditor"
                                    onclick='showModal("#ignoreGptPolicyEditor", "#gptIgnoredPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='ignoreGptPolicyEditor',  label='Edit Ignore GPT Policy Settings', bodyContent=~{this::gptIgnoredPolicyBody})">
                                </div>
                            </form>
                        </li>

                        <li>
                            <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-os-evt-ignore}"
                                th:object="${initialData}" method="POST">
                                Ignore OS Events:
                                <span th:text="${initialData.ignoreOsEvtEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="osIgnoredPolicyBody" th:fragment="osIgnoredPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreOsEvtEnabled}" value="true" />
                                            Ignore OS Events enabled
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{ignoreOsEvtEnabled}" value="false" />
                                            Ignore OS Events disabled
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + ignoreOSPolicyEditor"
                                    onclick='showModal("#ignoreOSPolicyEditor", "#osIgnoredPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='ignoreOSPolicyEditor',  label='Edit Ignore OS Events Policy Settings', bodyContent=~{this::osIgnoredPolicyBody})">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Generate Attestation Certificate  -->
            <li>
                <div class="aca-input-box">
                    <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-issued-attestation-generation}"
                        th:object="${initialData}" method="POST">
                        Generate Attestation Certificate:
                        <span
                            th:text="${initialData.issueAttestationCertificateEnabled ? 'Enabled' : 'Disabled'}"></span>

                        <!-- Define the content of the modal -->
                        <div id="genAttestCertPolicyBody" th:fragment="genAttestCertPolicyBody"
                            class="modal-visibility-on-close">
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{issueAttestationCertificateEnabled}" value="true" />
                                    Conditionally generate an Attestation Certificate before 'Not After' expiration date
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{issueAttestationCertificateEnabled}"
                                        value="false" />
                                    Never generate an Attestation Certificate
                                </label>
                            </div>
                        </div>

                        <!-- trigger to open the modal -->
                        <a th:href="'#' + issuedCertificatePolicyEditor"
                            onclick='showModal("#issuedCertificatePolicyEditor", "#genAttestCertPolicyBody")'>
                            <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                        </a>

                        <!-- modal fragment -->
                        <div
                            th:replace="fragments/modal :: modal( id='issuedCertificatePolicyEditor',  label='Edit Issued Attestation Certificate Policy Settings', bodyContent=~{this::genAttestCertPolicyBody})">
                        </div>
                    </form>

                    <ul>
                        <li>
                            <form
                                th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-attestation-certificate-expiration}"
                                th:object="${initialData}" method="POST">
                                Attestation Certificate Validity period:
                                <span
                                    th:text="${initialData.generateAttestationCertOnExpirationEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="expCertPolicyBody" th:fragment="expCertPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            Attestation Certificate validity period (Default 3651 days)<br />
                                            Select period in days:
                                            <input type="number" th:field="*{generateAttestCertExpirationValue}"
                                                min="1" />
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + issuedCertificatePolicyExpirationEditor"
                                    onclick='showModal("#issuedCertificatePolicyExpirationEditor", "#expCertPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='issuedCertificatePolicyExpirationEditor',  label='Edit Generate Certificate Expiration Policy Settings', bodyContent=~{this::expCertPolicyBody})">
                                </div>
                            </form>
                        </li>

                        <li>
                            <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-issued-cert-threshold}"
                                th:object="${initialData}" method="POST">
                                Attestation Certificate Renewal period:
                                <span
                                    th:text="${initialData.generateAttestationCertOnExpirationEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="thresholdCertPolicyBody" th:fragment="thresholdCertPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            Renew 'n' days before Attestation Certificate's 'Not After' Validity date
                                            (Default 365 days)<br />
                                            Select 'n' period in days:
                                            <input type="number" th:field="*{generateAttestCertThresholdValue}"
                                                min="1" />
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + issuedCertificatePolicyRenewalEditor"
                                    onclick='showModal("#issuedCertificatePolicyRenewalEditor", "#thresholdCertPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='issuedCertificatePolicyRenewalEditor',  label='Edit Generate Certificate Renewal Policy Settings', bodyContent=~{this::thresholdCertPolicyBody})">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>


            <!-- Generate LDevID Certificate -->
            <li>
                <div class="aca-input-box">
                    <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-issued-ldevid-generation}"
                        th:object="${initialData}" method="POST">
                        Generate LDevID Certificate:
                        <span th:text="${initialData.issueDevIdCertificateEnabled ? 'Enabled' : 'Disabled'}"></span>

                        <!-- Define the content of the modal -->
                        <div id="genLDevIDCertPolicyBody" th:fragment="genLDevIDCertPolicyBody"
                            class="modal-visibility-on-close">
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{issueDevIdCertificateEnabled}" value="true" />
                                    Conditionally generate an DevID Certificate before 'Not After' expiration date
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" th:field="*{issueDevIdCertificateEnabled}" value="false" />
                                    Never generate a DevID Certificate
                                </label>
                            </div>
                        </div>

                        <!-- trigger to open the modal -->
                        <a th:href="'#' + ldevidCertificatePolicyEditor"
                            onclick='showModal("#ldevidCertificatePolicyEditor", "#genLDevIDCertPolicyBody")'>
                            <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                        </a>

                        <!-- modal fragment -->
                        <div
                            th:replace="fragments/modal :: modal( id='ldevidCertificatePolicyEditor',  label='Edit LDevID Certificate Generation Policy Settings', bodyContent=~{this::genLDevIDCertPolicyBody})">
                        </div>
                    </form>

                    <ul>
                        <li>
                            <form
                                th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-ldevid-certificate-expiration}"
                                th:object="${initialData}" method="POST">
                                LDevID Certificate Validity period:
                                <span
                                    th:text="${initialData.generateDevIdCertOnExpirationEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="expirationLvedvIdCertPolicyBody" th:fragment="expirationLvedvIdCertPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            LDevID Certificate validity period (Default 3651 days)<br />
                                            Select period in days:
                                            <input type="number" th:field="*{generateDevIdCertExpirationValue}"
                                                min="1" />
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + ldevidCertificateExpirationPolicyEditor"
                                    onclick='showModal("#ldevidCertificateExpirationPolicyEditor", "#expirationLvedvIdCertPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='ldevidCertificateExpirationPolicyEditor',  label='Edit LDevID Certificate Expiration Policy Settings', bodyContent=~{this::expirationLvedvIdCertPolicyBody})">
                                </div>
                            </form>
                        </li>

                        <li>
                            <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-ldevid-threshold}"
                                th:object="${initialData}" method="POST">
                                LDevID Certificate Renewal period:
                                <span
                                    th:text="${initialData.generateDevIdCertOnExpirationEnabled ? 'Enabled' : 'Disabled'}"></span>

                                <!-- Define the content of the modal -->
                                <div id="thresholdLvedvIdCertPolicyBody" th:fragment="thresholdLvedvIdCertPolicyBody"
                                    class="modal-visibility-on-close">
                                    <div class="radio">
                                        <label>
                                            Renew 'n' days before LDevID Certificate's 'Not After' Validity date
                                            (Default 365 days)<br />
                                            Select 'n' period in days:
                                            <input type="number" th:field="*{generateDevIdCertThresholdValue}"
                                                min="1" />
                                        </label>
                                    </div>
                                </div>

                                <!-- trigger to open the modal -->
                                <a th:href="'#' + ldevidCertificateRenewalPolicyEditor"
                                    onclick='showModal("#ldevidCertificateRenewalPolicyEditor", "#thresholdLvedvIdCertPolicyBody")'>
                                    <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
                                </a>

                                <!-- modal fragment -->
                                <div
                                    th:replace="fragments/modal :: modal( id='ldevidCertificateRenewalPolicyEditor',  label='Edit LDevID Certificate Renewal Policy Settings', bodyContent=~{this::thresholdLvedvIdCertPolicyBody})">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Save ProtoBuf Data To ACA Log After Validation -->
            <li>
                <div class="aca-input-box">
                    <form th:action="@{/HIRS_AttestationCAPortal/portal/policy/update-save-protobuf-data-to-log}"
                        th:object="${initialData}" method="POST">
                        <p>Save Protobuf Data To ACA Log Settings:</p>

                        <ul>
                            <li>
                                <div class="radio">
                                    <input type="radio" name="saveProtobufToLogOption" value="always-log-protobuf"
                                        onchange="submitProtobufLogSetting()"
                                        th:checked="${initialData.logProtobufAlways}" />
                                    Log Protobuf Data Always<br />

                                    <input type="radio" name="saveProtobufToLogOption" value="log-protobuf-on-fail-val"
                                        onchange="submitProtobufLogSetting()"
                                        th:checked="${initialData.logProtobufOnFailedVal}" />
                                    Log Protobuf Data on Validation Failure<br />

                                    <input type="radio" name="saveProtobufToLogOption" value="never-log-protobuf"
                                        onchange="submitProtobufLogSetting()"
                                        th:checked="${initialData.logProtobufNever}" />
                                    Never Log Protobuf Data<br />
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </li>
        </ul>
    </section>
</body>

</html>