<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <section layout:fragment="script">
            <script th:src="@{/lib/jquery.spring-friendly/jquery.spring-friendly.js}"></script>
            <script th:inline="javascript">
                $(document).ready(function () {
                  let url = "trust-chain/list";
                  let acaCertDataSignature = JSON.parse([[${acaCertData.signature}]]);
                  let acaPublicKey = JSON.parse([[${acaCertData.encodedPublicKey}]]);
                  // Setup HIRS ACA Root Certificate items
                  $("#signature").html(byteToHexString(acaCertDataSignature));
                  $("#publicKey").html(byteToHexString(acaPublicKey));

                  // Format validity time
                      $("#validity span").each(function () {
                          $(this).text(formatCertificateDate($(this).text()));
                       });

                  // Setup  Trusted Certificate list
                  let columns = [
                    {
                      name: "issuer",
                      data: "issuer",
                      orderable: true,
                      searchable: true,
                    },
                    {
                      name: "subject",
                      data: "subject",
                      orderable: true,
                      searchable: true,
                    },
                    {
                      name: "beginValidity",
                      data: "beginValidity",
                      orderable: false,
                      searchable: false,
                      render: function (data, type, full, meta) {
                        return formatCertificateDate(full.beginValidity);
                      },
                    },
                    {
                      name: "endValidity",
                      data: "endValidity",
                      orderable: false,
                      searchable: false,
                      render: function (data, type, full, meta) {
                        return formatCertificateDate(full.endValidity);
                      },
                    },
                    {
                      data: "id",
                      orderable: false,
                      searchable: false,
                      render: function (data, type, full, meta) {
                        // Set up a delete icon with link to handleDeleteRequest().
                        // sets up a hidden input field containing the ID which is
                        // used as a parameter to the REST POST call to delete
                        let html = "";
                        //html += certificateDetailsLink(
                        //  "certificateauthority",
                        //  full.id,
                        //  true
                        //);
                       // html += certificateDownloadLink(full.id, pagePath);
                        //html += certificateDeleteLink(full.id, pagePath);
                        return html;
                      },
                    },
                  ];
                  //Set data tables
                  setDataTables("#trustChainTable", url, columns);
              });
            </script>
        </section>
    </head>
    <body>
    <h1 layout:fragment="pageHeaderTitle">Trust Chain Management</h1>
        <div class="content" layout:fragment="content">
            <!-- Details icon and dialog for HIRS ACA Root certificate -->
            <div class="aca-input-box-header">
                <form
                        method="POST"
                        th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain/upload}"
                        enctype="multipart/form-data"
                >
                    HIRS Attestation Certificate Chain
                    <th:block  th:replace="fragments/details-viewer
                        :: detailsViewerIcon('acaRootCertDialog',
                        'ACA Root Certificate', ${null}, ~{this :: aca-cert-viewer-modal})"
                    >
                        <th:block th:fragment="aca-cert-viewer-modal" > <!-- aca-cert-viewer-modal start -->
                            <div class="spacer"></div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <span class="colHeader">Issuer</span>
                                </div>
                                <div id="issuer" class="col col-md-8">
                                    <p th:text="${acaCertData.issuer}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <span class="colHeader">Subject</span>
                                </div>
                                <div id="subject" class="col col-md-8"><p th:text="${acaCertData.subject}"></p></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <span class="colHeader">Serial Number</span>
                                </div>
                                <div id="serialNumber" class="col col-md-8">
                                    <p th:text="${acaCertData.serialNumber}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <span class="colHeader">Validity</span>
                                </div>
                                <div id="validity" class="col col-md-8">
                                    <div>
                                        Not Before:&nbsp;<span>${acaCertData.beginValidity}</span>
                                    </div>
                                    <div>Not After:&nbsp;<span>${acaCertData.endValidity}</span></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <span class="colHeader">Signature</span>
                                </div>
                                <div id="signature" class="col col-md-8"></div>
                                <p th:text="${signature}"></p>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <span class="colHeader">Public Key</span>
                                </div>
                                <div id="publicKey" class="col col-md-8"></div>
                                <p th:text="${publicKey}"></p>
                            </div>
                        </th:block>
                    </th:block>     <!-- aca-cert-viewer-modal end -->

                    <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain/download-aca-cert-chain}">
                        <img th:src="@{/icons/ic_file_download_black_24dp.png}" title="Download ACA Certificate Chain">
                    </a> <br>
                    Trust Chain CA Certificates
                    <th:block th:replace="fragments/file-chooser
                        :: fileChooserIcon('tc-editor',
                        'Import Trust Chain Certificates', ${null}, ~{this :: bodyContent})"
                    >
                        <th:block th:fragment="bodyContent">
                            <input id="importFile" type="file" name="file" multiple="multiple" />
                        </th:block>
                    </th:block>
                    <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain/bulk-download}">
                        <img th:src="@{/icons/ic_file_download_black_24dp.png}" title="Download All Trust Chain Certificates">
                    </a>
                </form>
            </div>
            <div class="aca-data-table">
                <table id="trustChainTable" class="display" width="100%">
                    <thead>
                    <tr>
                        <th>Issuer</th>
                        <th>Subject</th>
                        <th>Valid (begin)</th>
                        <th>Valid (end)</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </body>
</html>
