<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <section layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function () {
                const viewName = /*[[${ page.viewName }]]*/ '';
                const url = viewName + "/list";
                const acaCertDataSignature = JSON.parse(/*[[${ acaCertData.signature }]]*/'');
                const acaPublicKey = JSON.parse(/*[[${ acaCertData.encodedPublicKey }]]*/'');
                const certificateType = "certificateauthority";

                // Setup HIRS ACA Root Certificate items
                $("#signature").html(byteToHexString(acaCertDataSignature));
                $("#publicKey").html(byteToHexString(acaPublicKey));

                // Format validity time
                $("#validity span").each(function () {
                    $(this).text(new Date(+$(this).text()).toUTCString());
                });

                // Format serial number
                $("#serialNumber span").each(function () {
                    $(this).text(parseSerialNumber($(this).text()));
                });

                // When the "deleteCertificateConfirmationModal" modal is about to be shown:
                // - Retrieve the ID from the button that triggered the modal (via data-id attribute)
                // - Set the value of the hidden input field with ID 'trustChainToDeleteId' to the retrieved trust chain certificate ID
                $('#deleteCertificateConfirmationModal').on('show.bs.modal', function (event) {
                    const deleteCertLinkButton = $(event.relatedTarget);  // Link that triggered the modal
                    const trustChainCertificateId = deleteCertLinkButton.data('id');  // Extract the ID from the data-id attribute

                    // Set the value of the hidden input to the ID
                    $(this).find('#trustChainToDeleteId').val(trustChainCertificateId);
                });

                // Setup Trusted Certificate table columns
                let columns = [
                    {
                        data: null,
                        orderable: false,
                        searchable: false,
                        render: DataTable.render.select()
                    },
                    {
                        name: "issuer",
                        data: "issuer",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "subject",
                        data: "subject",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                    },
                    {
                        name: "beginValidity",
                        data: "beginValidity",
                        type: "date",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                        render: function (data, type, full, meta) {
                            return formatCertificateDate(data);
                        },
                    },
                    {
                        name: "endValidity",
                        data: "endValidity",
                        type: "date",
                        orderable: true,
                        searchable: true,
                        columnControl: ["searchDropdown"],
                        render: function (data, type, full, meta) {
                            return formatCertificateDate(data);
                        },
                    },
                    {
                        data: "id",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            let html = "";
                            html += generateCertificateDetailsLink(certificateType, data, true);
                            html += generateCertificateDownloadLink(viewName, data);
                            html += generateCertificateDeleteLink(data);
                            return html;
                        },
                    },
                ];

                let table = setDataTables(viewName, "#trustChainTable", url, columns);
            });
        </script>
    </section>
</head>

<body>
    <h1 layout:fragment="pageHeaderTitle">Trust Chain Management</h1>
    <div layout:fragment="content">
        <!-- Details icon and dialog for HIRS ACA Root certificate -->
        <span class="aca-input-box-header">HIRS Attestation Certificate Chain</span>
        <th:block
            th:replace="fragments/details-viewer
                :: detailsViewer(id='aca-cert-viewer',
                label='HIRS Attestation Root Certificate', customButtons=${null}, bodyContent=~{this :: aca-cert-viewer-modal})">
            <th:block th:fragment="aca-cert-viewer-modal"> <!-- aca-cert-viewer-modal start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <span class="colHeader">Issuer</span>
                        </div>
                        <div class="col col-md-8" id="issuer">
                            <span th:text="${acaCertData.issuer}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <span class="colHeader">Subject</span>
                        </div>
                        <div class="col col-md-8" id="subject"><span th:text="${acaCertData.subject}"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <span class="colHeader">Serial Number</span>
                        </div>
                        <div class="col col-md-8" id="serialNumber">
                            <span th:text="${acaCertData.serialNumber}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <span class="colHeader">Validity</span>
                        </div>
                        <div class="col col-md-8" id="validity">
                            <div>
                                Not Before:&nbsp;<span th:text="${acaCertData.beginValidity}"></span>
                            </div>
                            <div>Not After:&nbsp;<span th:text="${acaCertData.endValidity}"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <span class="colHeader">Signature</span>
                        </div>
                        <div class="col col-md-8" id="signature"></div>
                        <span th:text="${signature}"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <span class="colHeader">Public Key</span>
                        </div>
                        <div class="col col-md-8" id="publicKey"></div>
                        <span th:text="${publicKey}"></span>
                    </div>
                    <div class="spacer"></div>
                </div>
            </th:block>
        </th:block> <!-- aca-cert-viewer-modal end -->

        <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain/download-aca-cert-chain}">
            <img th:src="@{/icons/ic_file_download_black_24dp.png}" title="Download ACA Certificate Chain">
        </a>

        <div class="aca-input-box-header">
            <form enctype="multipart/form-data" method="POST"
                th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain/upload}">
                Trust Chain CA Certificates
                <th:block
                    th:replace="fragments/file-chooser :: fileChooser(id='tc-editor', label='Import Trust Chain Certificates', bodyContent=~{this :: bodyContent})">
                    <th:block th:fragment="bodyContent">
                        <input id="importFile" multiple="multiple" name="file" type="file" />
                    </th:block>
                </th:block>
                <a th:href="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain/bulk-download}">
                    <img th:src="@{/icons/ic_file_download_black_24dp.png}"
                        title="Download All Trust Chain Certificates">
                </a>
            </form>
        </div>

        <br>

        <div class="aca-data-table">
            <table class="table table-bordered table-striped table-hover" id="trustChainTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Issuer</th>
                        <th>Subject</th>
                        <th>Valid (begin)</th>
                        <th>Valid (end)</th>
                        <th>Options</th>
                    </tr>
                </thead>
            </table>
        </div>

        <!-- This modal will be triggered when the user hits the delete link on one of the table rows on the Trust Chain Certificate page -->
        <form method="POST" th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain/delete}">
            <div
                th:replace="fragments/modal :: modal(id='deleteCertificateConfirmationModal', label='Confirm Deletion Of Trust Chain Certificate', 
                bodyContent=~{this::#deleteTrustChainConfirmationBody}, customFooterButtons=~{this::#deleteConfirmationFooterButtons})">

                <!-- Modal Body Content -->
                <div id="deleteTrustChainConfirmationBody">
                    <p class="text-center text-danger fs-4"><strong>Are you sure you want to delete this Trust Chain
                            certificate?</strong></p>
                </div>

                <!-- Define custom footer buttons here -->
                <div id="deleteConfirmationFooterButtons">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    <!-- The trust chain certificate ID is stored in this hidden field -->
                    <input id="trustChainToDeleteId" name="id" type="hidden" value="">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </div>
            </div>
        </form>


        <!-- This modal will be triggered when the user hits the Delete Selected button on the Trust Chain Certificate page-->
        <form method="POST" th:action="@{/HIRS_AttestationCAPortal/portal/certificate-request/trust-chain/bulk-delete}">
            <div
                th:replace="fragments/modal :: modal(id='deleteMultipleConfirmationModal', label='Confirm Deletion Of Multiple Trust Chain Certificates', 
                bodyContent=~{this::#deleteMultipleTrustChainsConfirmationBody}, customFooterButtons=~{this::#deleteMultipleConfirmationFooterButtons})">

                <!-- Modal Body Content -->
                <div id="deleteMultipleTrustChainsConfirmationBody">
                    <p class="text-center text-danger fs-4">
                        <strong>Are you sure you want to delete <span id="numRecordsToDelete"></span> Trust Chain
                            certificate(s)?</strong>
                    </p>
                </div>

                <!-- Define custom footer buttons here -->
                <div id="deleteMultipleConfirmationFooterButtons">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    <!-- The list of trust chain certificate ids are stored in this hidden field -->
                    <input id="selectedRecordsToDeleteIds" name="ids" type="hidden" value="">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>