<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <section layout:fragment="script">
    <script th:inline="javascript">
      const unknownIcon = /*[[@{/icons/ic_library_add_black_24dp.png}]]*/ '';
      const failIcon = /*[[@{/icons/ic_error_red_24dp.png}]]*/ '';
      const passIcon = /*[[@{/icons/ic_checkbox_marked_circle_black_green_24dp.png}]]*/ '';

      const passText = "Validation Passed";
      const failText = "Validation Failed";
      const errorText = "Validation Error";
      const unknownText = "Unknown Validation Status";

      $(document).ready(function () {
        const viewName = /*[[${ page.viewName }]]*/ '';
        const url = viewName + "/list";
        let columns = [
          {
            name: "overallValidationResult",
            data: "overallValidationResult",
            searchable: false,
            orderable: false,
            render: function (data, type, full, meta) {
              let html = "";
              let unknownStatus =
                `<img class="icon" src="${unknownIcon}" title="${unknownText}" />`;

              // create status icon
              let result = full.overallValidationResult;
              let overallMessage = full.message;
              if (result) {
                switch (result) {
                  case "PASS":
                    html += `<img src="${passIcon}" title="${passText}" />`;
                    break;
                  case "FAIL":
                    html +=
                      `<img src="${failIcon}" title="${overallMessage}" />`;
                    break;
                  case "ERROR":
                    html +=
                      `<img src="${errorIcon}" title="${overallMessage} />`;
                    break;
                  default:
                    html += unknownStatus;
                    break;
                }
              } else {
                html += unknownStatus;
              }

              return html;
            },
          },
          {
            data: "createTime",
            name: "createTime",
            type: "date",
            searchable: true,
            orderable: true,
            columnControl: ["searchDropdown"],
            render: function (data, type, full, meta) {
              return formatCertificateDate(data);
            },
          },
          {
            // TODO render a link to a device details page,
            // passing the device.id
            name: "device.name",
            data: "device.name",
            searchable: true,
            orderable: true,
            columnControl: ["searchDropdown"],
          },
          {
            data: "id",
            searchable: false,
            orderable: false,
            render: function (data, type, full, meta) {
              return getValidationDisplayHtml(full, "ENDORSEMENT_CREDENTIAL");
            },
          },
          {
            data: "id",
            searchable: false,
            orderable: false,
            render: function (data, type, full, meta) {
              return getValidationDisplayHtml(full, "PLATFORM_CREDENTIAL");
            },
          },
          {
            data: "id",
            searchable: false,
            orderable: false,
            render: function (data, type, full, meta) {
              return getValidationDisplayHtml(full, "FIRMWARE");
            },
          },
        ];

        //Set data tables
        let dataTable = setDataTables("#reportTable", url, columns);

        dataTable.order([1, "desc"]).draw(); //order by createTime

        $("#download").submit(function (e) {
          let tableLength = $("#reportTable").rows;
          let createTimes = "";
          let deviceNames = "";
          $("#reportTable tr")
            .not("thead tr")
            .each(function () {
              createTimes += $(this).find("td").eq(1).html() + ";";
              deviceNames += $(this).find("td").eq(2).html() + ",";
            });
          createTimes = createTimes.substring(0, createTimes.length - 1);
          deviceNames = deviceNames.substring(0, deviceNames.length - 1);
          let params = [
            {
              name: "createTimes",
              value: createTimes,
            },
            {
              name: "deviceNames",
              value: deviceNames,
            },
          ];
          $(this).append(
            $.map(params, function (param) {
              return $("<input>", {
                type: "hidden",
                name: param.name,
                value: param.value,
              });
            })
          );
        });

        $(".btn-primary").click(function () {
          $("#validationReportsDownload").modal("hide");
        });
      });

      /**
      * Gets HTML to display (icon tag) for the specified validation type.
      * If a validation for the requested type is not found, an empty
      * string is returned (and no icon will be displayed).
      */
      function getValidationDisplayHtml(full, validation_type) {
        let html = "";
        // loop through all the validations, looking for the one matching
        // the validation_type.
        for (let i = 0; i < full.validations.length; i++) {
          let curValidation = full.validations[i];
          let curResult = curValidation.validationResult;
          let curMessage = curValidation.message;

          if (curValidation.validationType === validation_type) {
            let unknownStatus =
              `<img class="icon" src="${unknownIcon}" title="${unknownText}" />`;

            // display appropriate icon based on result
            if (curResult) {
              // if this validation is associated with a certificate,
              // link to the details page
              if (curValidation.certificatesUsed.length > 0) {
                let certType = "";
                switch (validation_type) {
                  case "PLATFORM_CREDENTIAL":
                  case "PLATFORM_CREDENTIAL_ATTRIBUTES":
                    certType = "platform";
                    break;
                  case "ENDORSEMENT_CREDENTIAL":
                    certType = "endorsement";
                    break;
                }

                switch (validation_type) {
                  case "PLATFORM_CREDENTIAL":
                  case "PLATFORM_CREDENTIAL_ATTRIBUTES":
                  case "ENDORSEMENT_CREDENTIAL":
                    html +=
                      '<a href="certificate-details?id=' +
                      curValidation.certificatesUsed[0].id +
                      "&type=" +
                      certType +
                      '">';
                    break;
                }
              }

              switch (validation_type) {
                case "FIRMWARE":
                  html +=
                    '<a href="rim-details?id=' +
                    curValidation.rimId +
                    '">';
                  break;
              }

              switch (curResult) {
                case "PASS":
                  html += `<img src="${passIcon}" title="${curMessage}" />`;
                  break;
                case "FAIL":
                  html += `<img src="${failIcon}" title="${curMessage}"/>`;
                  break;
                case "ERROR":
                  html +=
                    `<img src="${errorIcon}" title="${curMessage}"/>`;
                  break;
                default:
                  html += unknownStatus;
                  break;
              }

              // add closing tag for href tag if needed.
              if (
                curValidation.certificatesUsed.length > 0 ||
                curValidation.rimId !== ""
              ) {
                html += "</a>";
              }
            } else {
              html += unknownStatus;
            }
          }
        }
        return html;
      }
    </script>
  </section>
</head>

<body>
  <h1 layout:fragment="pageHeaderTitle">Validation Reports</h1>

  <div layout:fragment="content">

    <form id="download" method="POST" th:action="@{/HIRS_AttestationCAPortal/portal/validation-reports/download}">
      Download Validation Reports
      <th:block th:replace="fragments/download-info
                :: downloadInfo('validationReportsDownload',
                'Download Validation Reports', ~{this :: bodyContent})">
        <th:block th:fragment="bodyContent">
          <label>Company<input id="company" type="text" pattern="^\w*$" title="Letters, numbers, and spaces only"
              name="company" /></label>
          <label>Contract #<input id="contract" type="text" pattern="^\w*$" title="Letters, numbers, and spaces only"
              name="contract" /></label>
          <br>
          <label>Date range start<input id="dateStart" type="date" name="dateStart" /></label>
          <label>Date range end<input id="dateEnd" type="date" name="dateEnd" /></label>
        </th:block>
      </th:block>
    </form>

    <div class="aca-data-table">
      <table id="reportTable" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th rowspan="2">Result</th>
            <th rowspan="2">Timestamp</th>
            <th rowspan="2">Device</th>
            <th colspan="3">Credential Validations</th>
          </tr>
          <tr>
            <th style="text-align: center">Endorsement</th>
            <th style="text-align: center">Platform</th>
            <th style="text-align: center">Firmware</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</body>

</html>