.classBanner {
    height: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ff0;
}

.dynamic {
    background-color: #000;
}

.topBanner {
    position: absolute;
    top: 0;
    width: 100%
}
.bottomBanner {
    width: 100%;
    position: absolute;
    bottom: 0;
    
}
.bottomBannerInfo .row {
    padding: 0 10px 10px;
}

.bottomBannerInfo div span {
    display: block;
}
.alignRight{
    text-align: right;
    display: inline-block;
}
.alignLeft{
    text-align: left;
    display: inline-block;
}
