html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

hr {
  color: gray; /* Set the color of the horizontal line to a lighter shade */
}

#header {
  background-color: darkslategray;
  color: white;
  height: 100px;
  min-width: 600px;
}

#content {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-without-navigation,
.main {
  overflow: auto;
  padding: 0 15px;
  height: 100%;
}

.spacer {
  height: 25px;
}

.extra-spacer {
  height: 50px;
}

.page-title {
  font-size: 40px;
  color: white;
}

.subtitle {
  font-size: 14px;
}

.navbar-brand > img {
  height: 70px;
  width: 160px;
  margin-left: 10px;
}

#certificate-details-page .chainIcon img {
  width: 15px;
}

@media screen and (max-width: 1100px) {
  .page-title {
    font-size: 20px;
    width: 45%;
    white-space: nowrap;
    padding-top: 20px;
  }
}

#content .page-header {
  text-align: center;
  margin: 25px 0;
}

/* not in bootstrap.css */
.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc !important;
}

.btn-secondary:hover {
  background-color: #ddd;
}

.aca-input-box {
  font-size: 125%;
}

.aca-input-box-header {
  font-size: 150%;
  padding: 10px;
}

.aca-data-table {
  text-align: center;
  padding-bottom: 50px;
}

/* Modal */
.modal-custom-button {
  display: inline-block;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

#content .modal-dialog {
  width: 900px;
}

/**********************************
***** Specific page styling *******
***********************************/

/*index page*/
#index-page .col {
  border: 0px solid black;
}

#index-page .row {
  overflow: hidden;
}

#index-page .page-header {
  margin: 0;
}

.index-left-side {
  background: #d5f2e0;
  height: 100%;
}

.index-left-side h1 {
  background: #567361;
  text-align: center;
}

.index-right-side {
  background: #ffefc1;
}

.index-right-side h1 {
  background: #b97042;
  text-align: center;
}

.index-left-side h4,
.index-right-side h4 {
  padding-left: 30px;
}

div.row h3 a {
  text-decoration: none; /* Remove underline from links specifically the links in the index.html page*/
}

div.row h3 a:hover {
  color: darkblue;
  text-decoration: underline; /* Add underline on hover for links specifically the links in the index.html page*/
}

div.row h3 {
  margin: 10px; /* Add margin around h3 inside div with class row */
}

/*trust chain*/
#aca-cert-viewer .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

#aca-cert-viewer .row > [class*="col-"] {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid black;
}

#aca-cert-viewer .colHeader {
  font-weight: bold;
  margin: auto 0;
}

/*Help page styling*/
.download-header {
  display: flex;
  align-items: center;
}
