nav.sidebar,
.main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

nav.sidebar {
  background-color: darkslategray;
  color: white;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:is(:hover, :focus) {
  color: #CCC;
  background-color: transparent;
}

#sidebar-navbar>ul>li>a {
  color: white;
}

#sidebar-navbar > ul > li:is(:hover, .active),
#sidebar-navbar .active > a,
#sidebar-navbar > ul > li > a:hover {
  background-color: white;
  color: black;
}

#sidebar-navbar>ul>li>a:hover span img,
#sidebar-navbar .active>a>span>img {
  filter: brightness(0.25);
}

/* collapsed menu option */
@media (max-width: 765px) {
  .main {
    height: calc(100% - 50px);
  }

  nav.sidebar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid transparent;
  }

  #sidebar-navbar>ul>li>a {
    color: #777;
    background-color: #f8f8f8;
  }

  #sidebar-navbar>ul>li:hover,
  #sidebar-navbar>ul>li>a:hover,
  #sidebar-navbar .active,
  #sidebar-navbar .active>a {
    background-color: #e7e7e7;
    color: #555;
  }

  .spacer {
    height: 50px;
  }
}

/*images side menu*/
@media (min-width: 765px) {

  .main {
    width: calc(100% - 50px);
    margin-left: 50px;
  }

  nav.sidebar:hover+.main {
    margin-left: 250px;
  }

  nav.sidebar.navbar.sidebar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }

  nav.sidebar .navbar-brand,
  nav.sidebar {
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a {
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  nav.sidebar .navbar-collapse,
  nav.sidebar .container-fluid {
    padding: 0 0px 0 0px;
  }

  nav.sidebar {
    width: 250px;
    height: 100%;
    margin-left: -210px;
    float: left;
    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover {
    margin-left: 0px;
  }
}

@media (min-width: 1330px) {
  .main {
    width: calc(100% - 250px);
    margin-left: 250px;
  }

  nav.sidebar {
    margin-left: 0;
    margin-top: 0;
    float: left;
  }
}