/* General Transition for sidebar and main */
nav.sidebar,
.main {
  transition: margin 200ms ease-out;
}

nav {
  height: 100%;
}

nav.sidebar {
  background-color: darkslategray;
  color: white;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:is(:hover, :focus) {
  color: #ccc;
  background-color: transparent;
}

/* Sidebar menu links */
#sidebar-navbar > ul > li > a {
  color: white;
}

#sidebar-navbar > ul > li > a:hover,
#sidebar-navbar > ul > li.active > a,
#sidebar-navbar > ul > li > a:focus,
#sidebar-navbar > ul > li.active > a:focus {
  background-color: white;
  color: black;
}

#sidebar-navbar > ul > li > a:hover span img,
#sidebar-navbar .active > a > span > img {
  filter: brightness(0.25);
}

/* Collapsed menu styles for small screens */
@media (max-width: 765px) {
  .main {
    height: calc(100% - 50px); /* Account for header height */
  }

  nav.sidebar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-width: 1px;
    border-style: solid;
  }

  #sidebar-navbar > ul > li > a {
    color: #777;
    background-color: #f8f8f8;
  }

  #sidebar-navbar > ul > li:hover,
  #sidebar-navbar > ul > li > a:hover,
  #sidebar-navbar .active,
  #sidebar-navbar .active > a {
    background-color: #e7e7e7;
    color: #555;
  }

  .spacer {
    height: 50px;
  }
}

/* Images and main content layout for medium to large screens */
@media (min-width: 765px) {
  .main {
    width: calc(100% - 50px); /* Adjust main width */
    margin-left: 50px; /* Space for sidebar */
  }

  nav.sidebar:hover + .main {
    margin-left: 250px; /* Expand main content on hover */
  }

  nav.sidebar .navbar-brand,
  nav.sidebar {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }

  nav.sidebar a {
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  nav.sidebar .navbar-collapse,
  nav.sidebar .container-fluid {
    padding: 0;
  }

  nav.sidebar {
    width: 250px;
    height: 100%;
    margin-left: -210px;
    float: left;
    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover {
    margin-left: 0px;
  }
}

/* Extra-large screens (Desktop) */
@media (min-width: 1330px) {
  .main {
    width: calc(100% - 250px); /* Adjust main content for wide screen */
    margin-left: 250px;
  }

  nav.sidebar {
    margin-left: 0;
    margin-top: 0;
    float: left;
  }
}
