<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>HIRS Attestation CA Portal</display-name>

    <!-- Specify the location of the LOG4J file -->
    <context-param>
        <param-name>log4j.configurationFile</param-name>
        <param-value>classpath:log4j2-spring.xml</param-value>
    </context-param>

    <!--
        Dispatches page requests via PageConfiguration to PageControllers
    -->
    <listener>
        <listener-class>hirs.attestationca.portal.HIRSDbInitializer</listener-class>
    </listener>
</web-app>
