<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t @ %C.%M] %-5p : %m%n"/>
        </Console>
        <RollingFile name="FILE" fileName="logs/HIRS_AttestationCA.log"
                     filePattern="logs/HIRS_AttestationCA.log-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%C.%M] %-5p : %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level = "WARN">
            <AppenderRef ref="STDOUT" level="WARN" />
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
