/* certificate-details-page */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid black;
}
.colHeader{
    font-weight: bold;
    margin: auto 0;
}

#platformID {
    display: inline;
}

#platformConfiguration .component {
    border-bottom: 0;
    padding: 5px;
}

#platformConfiguration .component > .panel {
    margin-bottom: 0;
}

#platformPropertiesURI,#fipsLevel,
#iso9000, #ccinfo {
    margin: 0px;
}

.fieldHeader {
    width: 100px;
    display: inline-block;
}
.compHeader {
    width: 150px;
    display: inline-block;
}

#tbbsecurity .fieldHeader {
    width: 165px;
    display: inline-block;
}

#tbbsecurity .tbbsecurityLine {
    width: 75%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}