<th:block th:fragment="detailsViewer(id, buttonText, toolTipText, label, customButtons, bodyContent)">
    <!-- Details viewer icon anchor -->
    <a class="btn btn-secondary text-decoration-none" th:href="'#' + ${id}" data-bs-toggle="modal"
        th:title="${toolTipText}">
        <img th:src="@{/icons/svg/info-circle-white-24dp.svg}" class="icon-text-spacing" alt="Details Viewer Icon" />
        [[${buttonText}]]
    </a>

    <!-- Include modal-dialogue fragment -->
    <th:block th:replace="~{fragments/modal-dialogue :: modalDialogue(
        id=${id}, 
        label=${label}, 
        customButtons=${customButtons}, 
        bodyContent=${bodyContent}
    )}"></th:block>
</th:block>