<th:block th:fragment="detailsViewer(id, label, customButton, bodyContent)">
    <!-- Details viewer icon anchor -->
    <a class="text-decoration-none" th:href="'#' + ${id}" data-bs-toggle="modal" th:title="${label}">
        <img th:src="@{/icons/ic_assignment_black_24dp.png}" alt="Details Viewer Icon" />
    </a>

    <!-- Include modal-dialogue fragment -->
    <th:block th:replace="fragments/modal-dialogue :: modalDialogue(
        id=${id}, 
        label=${label}, 
        customButton=${customButton}, 
        bodyContent=${bodyContent}
    )"></th:block>
</th:block>