<th:block th:fragment="detailsViewer(id, label, customButton, bodyContent)">
    <!-- Details viewer icon anchor -->
    <a data-toggle="modal" th:href="'#' + ${id}" th:title="${label}">
        <img alt="Details Viewer Icon" th:src="@{/icons/ic_assignment_black_24dp.png}" />
    </a>

    <!-- Include modal-dialogue fragment -->
    <th:block th:replace="fragments/modal-dialogue :: modalDialogue(
        id=${id}, 
        label=${label}, 
        customButton=${customButton}, 
        bodyContent=${bodyContent}
    )"></th:block>
</th:block>