<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="editor(id, label, bodyContent)">
        <!-- Editor icon anchor -->
        <a th:href="'#' + ${id}" data-toggle="modal" th:title="${label}">
            <img th:src="@{/icons/ic_mode_edit_blue_18dp.png}" alt="Editor Icon" />
        </a>

        <!-- Include modal fragment -->
        <div th:replace="fragments/modal :: modal(
        id=${id}, 
        label=${label}, 
        bodyContent=${bodyContent}
    )"></div>
    </div>
</body>

</html>