<th:block th:fragment="modalDialogue(id, label, customButtons, bodyContent)">
    <div th:id="${id}" class="modal fade" style="top:5%">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 th:id="modal-title" th:text="${label}">Modal Title</h1>
                </div>
                <div class="modal-body" th:insert="${bodyContent}">
                    <!-- Modal body content will be inserted here -->
                </div>
                <div class="modal-footer">
                    <th:block th:if="${customButtons != null}">
                        <div class="modal-custom-button" th:replace="${customButtons}">
                        </div>
                    </th:block>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</th:block>