<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="pageMessages(messages)">
        <div th:if="${not #lists.isEmpty(messages)}" id="page-messages-container">
            <ul class="noPaddingOrMargin" id="page-messages">
                <li th:each="error : ${messages.errorMessages}" class="page-message" id="page-errorMessage">
                    <p class="page-messageIcon">
                        <img th:src="@{/icons/ic_priority_high_black_24dp.png}" alt="Error icon" />
                    </p>
                    [[${error}]]
                </li>

                <li th:each="success : ${messages.successMessages}" class="page-message" id="page-successMessage">
                    <p class="page-messageIcon">
                        <img th:src="@{/icons/ic_done_black_24dp.png}" alt="Success icon" />
                    </p>
                    <p th:text="${success}">Success message</p>
                </li>

                <li th:each="info : ${messages.infoMessages}" class="page-message" id="page-infoMessage">
                    <p class="page-messageIcon">
                        <img th:src="@{/icons}/ic_priority_high_black_24dp.png" alt="Info icon" />
                    </p>
                    <p th:text="${info}">Info message</p>
                </li>

            </ul>
        </div>
    </div>
</body>