<!--<c:if test="${not empty messages}">-->

<!--    <div id="page-messages-container">-->
<!--        <ul class="noPaddingOrMargin" id="page-messages">-->
<!--            <c:forEach items="${messages.errorMessages}" var="error">-->
<!--                <li class="page-message" id="page-errorMessage">-->
<!--                    <span class="page-messageIcon">-->
<!--                        <img src="${icons}/ic_priority_high_white_24dp.png"/>-->
<!--                    </span>-->
<!--                    ${error}-->
<!--                </li>-->
<!--            </c:forEach>-->

<!--            <c:forEach items="${messages.successMessages}" var="success">-->
<!--                <li class="page-message" id="page-successMessage">-->
<!--                    <span class="page-messageIcon">-->
<!--                        <img src="${icons}/ic_done_white_24dp.png"/>-->
<!--                    </span>-->
<!--                    ${success}-->
<!--                </li>-->
<!--            </c:forEach>-->

<!--            <c:forEach items="${messages.infoMessages}" var="info">-->
<!--                <li class="page-message" id="page-infoMessage">-->
<!--                    <span class="page-messageIcon">-->
<!--                        <img src="${icons}/ic_priority_high_white_24dp.png"/>-->
<!--                    </span>-->
<!--                    ${info}-->
<!--                </li>-->
<!--            </c:forEach>-->
<!--        </ul>-->
<!--    </div>-->
<!--</c:if>-->