<th:block th:fragment="pageNav(page, pages)">
    <nav class="navbar sidebar" role="navigation" th:if="${page?.hasMenu}">
        <div class="container-fluid">
            <div id="sidebar-navbar">
                <ul class="navbar-nav">
                    <li th:each="p : ${pages}" th:if="${p?.inMenu}"
                        th:class="'nav-item ' + ${p?.menuLinkClass != null ? p.menuLinkClass : ''} + (${p?.title} == ${page?.title} ? ' active' : '') ">
                        <a th:href="@{'/HIRS_AttestationCAPortal/portal/' + ${p?.prefixPath} + ${p?.viewName}}"
                            class="nav-link">
                            <span class="">
                                <img th:src="@{/icons/{icon}_white_24dp.png(icon=${p?.icon})}" alt="" />
                            </span>
                            <span th:text="${p?.title}">Page Title</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>